* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.main-flex {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f4f1;
}

header {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: #FBF3E4;
    display: flex;
    justify-content: space-between;
}

.menubar {
    display: none;
}

.name {
    padding-left: 40px;
    color: #105652;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

ul li:hover {
    color: rgb(255, 170, 80);
    cursor: pointer;
}

.box1 {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    width: 90%;
    background-color: rgb(24, 75, 54);
}

.box1 .box11 {
    align-items: center;
    width: 100%;
    height: 450px;
}

.box1 .box12 {
    width: 100%;
    height: 470px;
}

.bt1,
.bt2 {
    border: none;
    color: whitesmoke;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;
}

.bt1 {
    background-color: rgb(38, 199, 248);
}

.bt2 {
    background-color: rgb(252, 158, 50);
}

.about {
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(225, 207, 207);
    display: flex;
    padding: 0;
    margin: 50px 0;
}

.g1 {
    max-width: 100%;
}

.g2 {
    margin: 10px 0;
    height: 120px;
    max-width: 80%;
}

.g3 {
    margin: 20px 0;
    height: 60px;
    max-width: 80%;
}

.g4 {
    max-width: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px 0;
    padding: 2px 3px 0 3px;
}

.a1 {
    border-radius: 10px;
    max-width: 54%;
    /* padding-left: 48px; */
    /* margin-left: 10px; */
    position: relative;
    right: 68px;

}

.a2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 55px;

}

.g4 .lib-img {
    display: flex;
    width: 90%;
}

.lib-img img {
    padding: 20px 0 10px 0;
}

.projects {
    align-items: center;
    margin: 50px;
    justify-content: space-between;
    text-align: center;
}

.pimg{
    width: 350px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid transparent;
}


.resume {
    display: flex;
    justify-content: center;
}

.icons {
    background-color: aliceblue;
    border-radius: 5px;
    border: 0.1px solid rgb(247, 223, 223);
}

.icons img {
    max-width: 100px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    padding: 8px;
}

.education {
    width: 50%;
    background-color: #F7F7F7;
    padding: 10px;
    margin: 20px 10px 0 0;
    border-radius: 5px;
    border: 0.1px solid rgb(247, 223, 223);
}

.edu2 {
    min-width: 50%;
    margin: 20px 10px 0 0;
    border-radius: 5px;
}

.p {
    width: 200px;
    padding: 20px;
    text-align: center;
}

.people {
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(187, 175, 157);
}

.contact {
    height: 400px;
    display: flex;
    width: 80%;
    padding: 20px;
}

.connect {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 245, 245);
}

input {
    width: 200px;
    margin-bottom: 17px;
}

.info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 50%;
}

.footer {
    width: 95%;
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
}

button:hover {
    transform: translate(3px, 2px);
}

@media screen and (max-width:400px) {
    .main-flex {
        width: 100%;
    }

    header {
        width: 100%;
        height: 40px;
        padding-top: 10px;
        background-color: #FBF3E4;
        display: flex;
        justify-content: space-between;
    }

    .name {
        padding-left: 10px;
        color: #105652;
        font-weight: bolder;
        font-size: x-large;
        cursor: pointer;
    }

    ul {
        display: flex;
    }

    ul li {
        list-style: none;
    }

    ul li:hover {
        color: rgb(255, 170, 80);
        cursor: pointer;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-template-columns: auto auto;
        background-image: url("./images/banner-guy.png")
    }

    .box1 .box11 {
        align-items: center;
        height: 450px;
    }

    .box1 .box12 {
        display: none;
    }

    .bt1,
    .bt2 {
        border: none;
        color: whitesmoke;
        padding: 10px 25px;
        margin: 10px;
        border-radius: 5px;
    }

    .bt1 {
        background-color: rgb(38, 199, 248);
    }

    .bt2 {
        background-color: rgb(252, 158, 50);
    }

    .about {
        border: 1px solid black;
        border-radius: 10px;
        justify-content: center;
        box-shadow: 10px 10px 10px rgb(225, 207, 207);
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 50px 0;
    }

    .g1 {
        max-width: 100%;
    }

    .g2 {
        margin: 10px 0;
        height: 120px;
        max-width: 80%;
    }

    .g3 {
        margin: 20px 0;
        height: 60px;
        max-width: 80%;
    }

    .g4 {
        max-width: auto;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px 0;
        padding: 2px 3px 0 3px;
    }

    .a1 {
        display: none;
        border-radius: 10px;
        max-width: 54%;
        flex-direction: column;
    }

    .a2 {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .g4 .lib-img {
        display: flex;
    }

    .lib-img img {
        padding: 20px 0 10px 0;
    }

    .projects {
        align-items: center;
        margin: 50px;
        justify-content: space-between;
        text-align: center;
    }

    .projects a img {
        max-width: 380px;
        padding: 10px 0;
    }

    .resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icons {
        background-color: aliceblue;
        border-radius: 5px;
        border: 0.1px solid rgb(247, 223, 223);
    }

    .icons img {
        max-width: 100px;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 10px;
        padding: 8px;
    }

    .education {
        min-width: 100px;
        max-width: 400px;
        background-color: #F7F7F7;
        padding: 10px;
        margin: 20px 10px 0 0;
        border-radius: 5px;
        border: 0.1px solid rgb(247, 223, 223);
    }

    .edu2 {
        min-width: 300px;
        margin: 20px 10px 0 0;
        border-radius: 5px;
    }

    .p {
        padding: 20px;
        text-align: center;
    }

    .people {
        border: 2px solid black;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 7px rgb(187, 175, 157);
    }

    .contact {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .connect {
        padding: 10px;
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 245, 245);
    }

    input {
        margin-bottom: 17px;
    }

    .info {
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
    }

    .footer {
        padding: 20px;
        background-color: #FBF3E4;
        text-align: center;
    }
}